header {
	display: flex;
	justify-content: center;
}

.principal {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
}

.caixa-logo { /*-----------------------------------------------------------------*/}


.logo-principal {
	width: 70px;
}

nav { /*-----------------------------------------------------------------*/}

nav ul { /*-----------------------------------------------------------------*/}


nav li {
	margin: 0 3%;
	font-family: sans-serif;
	font-size: 0.9em;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

nav a:hover {
	font-weight: bold;
}


.menu-barra{
	display: flex;
	align-items: center; 
	width: 300px;
	padding-bottom: 5%;
}

.procurar {
	vertical-align: middle;
	margin: %;
}

.box-middle {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.banner {
	display: flex;
	width: 55%;
	margin-left: 0.3%;
	flex-grow: 0;
}

.frase1 {
	display: flex;
	justify-content: center;
	font-size: 2em;
	flex-grow: 1;
	margin-top: 15%;
	font-family: 'Coustard', serif;
}


footer {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 1em;
	margin-top: 3%;
	margin-bottom: 2%;
	text-decoration: none;
	color: black;
	vertical-align: baseline;
}





/*Página Sobre -------------------------------------------------------------------------------------------------------*/

.div-sobre {
	margin-top: 2%; 
}


.foto-perfil {
	width: 20%;
	margin-left: 40%;
	border-radius: 300px;
	margin-top: 3%;
	transition: 1s;
}

.foto-perfil:hover {
	width: 22%;
	margin-left: 39%;
	opacity: 0.9;
}

.texto-sobre {
	width: 50%;
	margin-left: 25%;
	/*background-color: grey;*/
	margin-top: 3%;
	margin-bottom: 3%;
}

div p {
	text-align: center;
	padding: 1%;
	font-size: 1.2em;
	font-family: 'Coustard', serif;
}

p strong {
	font-size: 3em;
	transition: 1s;
}

p strong:hover {
	font-size: 3.5em;
}

/*BLOG ------------------------------------------------------------------------------------------------------*/

.corpo {
	display: flex;
	justify-content: center;
}


.area-post {
	display: flex;
	justify-content: center;
	width: 70%;
	flex-wrap: wrap;
	margin-top: 5%;
}

.post {

	color: black;
	background-color: #F0F8FF;
	width: 250px;
	height: 250px;
	margin: 1.5%;
	box-shadow: 3px 3px 10px #B0C4DE;
	transition: .4s;

}

.post:hover {
	width: 253px;
	height: 253px;
}

.nome-post {
	margin-top: 42%;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	font-family: 'Coustard', serif;
	
}
